.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 50px;
  margin-right: 10px;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.sidebar-button {
  background-color: transparent;
  font-size: 1.5rem;
  margin: 3px;
  border-color: transparent;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.sidebar-button:hover {
  transform: scale(1.3);
}
