@font-face {
  font-family: "Helvetica Neue";
  src: url("../public/HelveticaNeue/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
