.contactme-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.contact {
  font-size: x-large;
}

.bi {
  margin-right: 1rem;
}

.socialmedia {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  margin: 3px;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.socialmedia:hover {
  transform: scale(1.2);
}

.mediabar {
  margin: 10px;
}

.resumedownload {
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
