.content-body {
  width: 100%;
  display: flex;
}

.welcome-banner {
  height: calc(100vh - 60px);
  width: calc(100vw - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
