.portfolio-page {
  height: auto;
  overflow-y: auto;
}

.portfolio-header {
  margin-top: 70px;
  margin-left: 100px;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: bold;
}

.container-list {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  height: 535px;
}

.schoolrow:hover {
  background-color: grey;
}

.table-container {
  margin: 0 100px; /* Add 100px margin to the left and right */
  overflow-x: auto; /* Optional: allow horizontal scrolling if needed */
}

.lastcol {
  display: flex;
  justify-content: end;
}

.middlecol {
  justify-content: center;
}

.containerleft {
  display: flex;
  width: 50%;
  margin-right: 20px;
}

.containerright {
  display: flex;
  width: 50%;
  margin-left: 20px;
}
