.portfolio-page {
  height: auto;
  overflow-y: auto;
}

.portfolio-header {
  margin-top: 70px;
  margin-left: 100px;
  width: 100vw;
  font-size: 1.2rem;
  font-weight: bold;
}

.container-list {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  height: 535px;
}
